/* 
	--------------------------------------------------------

	Reset Browser Style

	--------------------------------------------------------
*/

*,
*:before,
*:after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a,
a:hover,
a:active,
a:focus {
    text-decoration: none;
    color: inherit;
}


/* 
--------------------------------------------------------

Typography - Font Displays

--------------------------------------------------------
*/


/* 
--------------------------------------------------------

Grid Layout

--------------------------------------------------------
*/

.container {
    max-width: 1200px;
    width: 100%;
}

header .container {
    display: grid;
    grid-template-columns: 1fr 2fr;
}


/* 
--------------------------------------------------------

Header

--------------------------------------------------------
*/


/* Temporary */

header.site-header:before {
    content: "Header: ";
}

header.site-header {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: purple;
    color: #FFF;
    font-family: "Helvetica";
}


/* 
--------------------------------------------------------

Footer

--------------------------------------------------------
*/

footer:before {
    content: "Footer: ";
}

footer {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: darkgreen;
    color: #FFF;
    font-family: "Helvetica";
}


/* 
--------------------------------------------------------

Repeatable Elements

--------------------------------------------------------
*/


/* 
--------------------------------------------------------

Main

--------------------------------------------------------
*/

main {
    background-color: #ebebeb;
    width: 100%;
    min-height: 600px;
}

main #slider {
    width: 100%;
    background-color: green;
    color: #FFF;
    text-align: center;
    padding: 30px 0;
}

main .three-articles {
    width: 100%;
    text-align: center;
    padding: 100px 0;
    color: #FFF;
    background-color: blue;
}